.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(66, 123, 197);
  color: white;
  height: 40px;
}

.right-header {
  display: flex;
  align-items: center;
}

.left-header {
  display: flex;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.logo {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  margin-left: 15px;
}
.title {
  font-size: 19px;
}

.current-page-weather {
  font-size: 19px;
  margin-right: 20px;
}

.current-page-tic {
  font-size: 19px;
  margin-left: 10px;
  margin-right: 20px;
}

button.button {
  font-size: 20px;
  width: 30px;
  margin-left: 25px;
}
