.main-weather {
  display: flex;
  justify-content: center;
  height: 250px;
  align-items: flex-end;
}

.image-main-weather {
  align-self: center;
}

.logo-weather {
  height: 80px;
  width: 80px;
}
