.board-wrapper {
  margin-bottom: 407px;
}
.game-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 99px;
}
.board {
  width: 30rem;
  height: 30rem;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

td:hover {
  background: rgb(96, 176, 176);
  cursor: pointer;
}

td {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  box-sizing: border-box;
}
