.board-wrapper {
  margin-top: 126px;
  margin-bottom: 407px;
}
.game-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 99px;
}
.table {
  width: 30rem;
  height: 30rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
}

td:hover {
  background: rgb(96, 176, 176);
  cursor: pointer;
}

td {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  box-sizing: border-box;
}

.score {
  color: black;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin-top: 65px;
}

.xo {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
