.game-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.board {
  width: 30rem;
  height: 30rem;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  box-sizing: border-box;
}

.square:hover {
  background: lightcoral;
  cursor: pointer;
}
